html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-image: url('../images/login_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.loginRegBox {
    width: 400px;
    height: 310px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.loginRegBox .titleBox {
    width: 400px;
    height: 60px;
    background-image: url(../images/login_title.png);
    background-repeat: no-repeat;
    background-position: center;
}

.regBox {
    display: none;
}

.layui-form {
    margin: 0 15px;
}

.layui-btn {
    background-color: rgb(75, 178, 255);
}

.layui-form a {
    float: right;
    margin-top: 10px;
    font-size: 12px;
}

.layui-form-item {
    position: relative;
}
.layui-form-item input {
    padding-left: 30px;
}
.layui-form-item i {
    position: absolute;
    top: 10px;
    left: 10px;
}